.App-header {
  text-align: center;
  font-size: 45px;
  margin: 20px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.container {
  background-color: rgb(247, 253, 251, 0.7);
  max-width: 700px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 4px 4px 15px #6d6d6d;
  font-size: 16px;
}

footer {
  margin: 20px;
  text-align: center;
  font-size: 12px;
  border-top: 1px dashed rgb(72, 33, 33, 0.3);
  padding-top: 15px;
  font-family: "Montserrat", sans-serif;
}

body {
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/084/843/original/pexels-berti-weber-2404185.jpg?1686239953");
  background-size: cover;
}

footer {
  font-size: 12px;
  font-weight: bold;
}

footer a {
  color: #643843;
  text-decoration: none;
}

footer a:hover {
  color: #116a7b;
}
