.Meaning {
  text-align: justify;
  padding: 20px;
}
.Meaning h4 {
  font-size: 30px;
  text-decoration: underline;
  padding-bottom: 15px;
}
.definition {
  color: brown;
}
.example {
  color: blue;
  padding: 0 30px;
}
