.Meaning {
  text-align: justify;
  padding: 20px;
  font-family: "Diphylleia", serif;
}
.Meaning h4 {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 15px;
}
.definition {
  font-size: 18px;
  color: #3c2a21;
}
.example {
  opacity: 0.8;
  padding: 0 30px;
  font-size: 16px;
  color: #183a1d;
  font-weight: bold;
}

@media (max-width: 576px) {
  .Meaning {
    padding: 10px;
  }
  .Meaning h4 {
    font-size: 25px;
  }
  .definition {
    font-size: 16px;
  }
  .example {
    font-size: 14px;
  }
}
